.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style46,
.style47 {
  display: flex;
  width: 100%
}
.style46 {
  height: 5vh
}
.style47 {
  background-color: #f6f8f9;
  height: 100%
}
.desktop1container18container19row0 {
  display: flex;
  margin-left: 1.3888888888888888%;
  width: 97.222%;
  height: 60%;
  align-self: center
}
.style48 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 0;
  margin-top: .5714285714285714%;
  height: 50%
}
.style49,
.style50,
.style51,
.style52 {
  font-family: Helvetica,serif;
  font-size: 11px;
  font-weight: 700;
  margin-top: .6428571428571429%;
  height: 40%
}
.style49 {
  color: #343638;
  margin-left: 73.21428571428571%
}
.style50,
.style51,
.style52 {
  color: rgba(52,54,56,.5);
  margin-left: 1.9285714285714286%
}
.style50,
.style51 {
  margin-left: 1.5714285714285714%
}
.style53 {
  margin-left: 2.857142857142857%;
  width: 2.142%;
  height: 100%;
  align-self: stretch
}
.desktop1row1 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 60vh
}
.style0 {
  display: flex;
  margin-left: 0;
  width: 58.333%;
  height: 100%
}
.style1,
.style2 {
  display: flex;
  width: 100%;
  height: 100%
}
.style2 {
  background-image: url(https://designresources.assets.yotako.io/e7upykj5i4k8ai7h1v.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center
}
.style3 {
  display: flex;
  margin-left: 16.666666666666668%;
  margin-top: 21.071428571428573%;
  width: 71.428%;
  height: 41.166%
}
.desktop1row1container0container1image0container2column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style9 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 24.291%
}
.style10 {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  width: 100%
}
.style10,
.style4,
.style5 {
  color: #fff;
  font-family: Helvetica,serif
}
.style5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-top: 6.5546558704453455%;
  width: 100%
}
.style4 {
  font-size: 16px;
  line-height: 26px;
  margin-top: 1.6356275303643724%;
  width: 93.333%
}
.style6 {
  display: flex;
  margin-top: 4.91497975708502%;
  width: 22.333%;
  height: 16.194%
}
.style7 {
  background-color: #fa6980;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 6px
}
.style8 {
  color: #fff;
  text-align: center;
  font-family: Helvetica,serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 22.388059701492537%;
  width: 55.223%
}
.style93,
.style94 {
  display: flex;
  height: 100%
}
.style93 {
  margin-left: 0;
  width: 41.666%
}
.style94 {
  background-color: #fff;
  width: 100%
}
.desktop1row1container41container42column0 {
  display: flex;
  margin-left: 16.666585286458332%;
  margin-top: 16.666666666666668%;
  width: 63.333%;
  height: 66.5%;
  flex-direction: column;
  justify-content: center
}
.style95 {
  display: flex;
  width: 100%;
  height: 15.037%
}
.style96 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin-left: .0001284949006798665%;
  width: 87.105%
}
.style99 {
  position: relative;
  display: flex;
  margin-left: 86.31580705719693%;
  margin-top: 1.3157877829618332%;
  width: 1.578%;
  height: 16.666%
}
.style100 {
  width: 100%;
  height: 100%
}
.style97 {
  display: flex;
  margin-left: 10.526302263694665%;
  margin-top: 1.3157877829618332%;
  width: 1.578%;
  height: 16.666%
}
.style98 {
  width: 100%;
  height: 100%
}
.style102 {
  display: flex;
  width: 99.999%;
  height: 74.937%
}
.desktop1row1container41container42column0container46column0 {
  display: flex;
  width: 110.526%;
  height: 99.665%;
  align-self: stretch;
  flex-direction: column
}
.style103 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 43.288%
}
.style104,
.style105 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%
}
.style105 {
  color: #202124
}
.desktop1row1container41container42column0container46column0row0 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 43.288%
}
.style106 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 14.285714285714286%;
  width: 90.476%
}
.style107 {
  display: flex;
  width: 20%;
  height: 12.403%;
  align-self: flex-end
}
.desktop1row1container41container42column0container46column0row0container48row0,
.style109 {
  display: flex;
  margin-left: 0;
  width: 100%;
  height: 100%
}
.style109 {
  width: 19.047%
}
.style110 {
  width: 100%;
  height: 100%
}
.style108 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  line-height: 26px;
  margin-left: 11.904761904761905%;
  width: 69.047%
}
.desktop1row1container41container42column0container46column0row1 {
  display: flex;
  margin-top: 4.503355704697986%;
  width: 100%;
  height: 43.288%
}
.style111 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch
}
.desktop1row1container41container42column0container46column0row1container50column0 {
  display: flex;
  width: 100%;
  height: 38.759%;
  flex-direction: column;
  justify-content: center
}
.style112,
.style113 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%
}
.style113 {
  color: #202124
}
.desktop1row1container41container42column0container46column0row1column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style114 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 36.054263565891475%;
  width: 90.476%
}
.style115 {
  display: flex;
  margin-top: 6.007751937984496%;
  width: 20%;
  height: 12.403%
}
.style117 {
  display: flex;
  margin-left: 0;
  width: 19.047%;
  height: 100%
}
.style118 {
  width: 100%;
  height: 100%
}
.style116 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  line-height: 26px;
  margin-left: 11.904761904761905%;
  width: 69.047%
}
.style54 {
  display: flex;
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 41vh
}
.desktop1container20column0 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center
}
.style86 {
  display: flex;
  width: 100%;
  height: 4.878%
}
.style87 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 88.362%;
  align-self: stretch
}
.style88 {
  display: flex;
  margin-left: 7.155172413793103%;
  margin-top: .43103448275862066%;
  width: 4.482%;
  height: 50%
}
.desktop1container20column0container37container38row0,
.style91 {
  display: flex;
  margin-left: 0;
  width: 100%;
  height: 100%
}
.style91 {
  width: 11.538%
}
.style89,
.style92 {
  width: 100%;
  height: 100%
}
.style89 {
  display: flex;
  margin-left: 76.92307692307692%;
  width: 11.538%
}
.style55,
.style90 {
  width: 100%;
  height: 100%
}
.style55 {
  display: flex;
  height: 85.365%
}
.style56,
.style57 {
  display: flex;
  height: 100%
}
.style56 {
  margin-left: 0;
  width: 31.034%
}
.style57 {
  width: 100%
}
.style58,
.style59 {
  position: relative;
  display: flex;
  width: 100%
}
.style59 {
  background-image: url(https://designresources.assets.yotako.io/e7upykj5i4k8ai7jh8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 51.428%
}
.style58 {
  background-color: #fff;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.desktop1container20column0container21container22container23image8container24column0 {
  display: flex;
  margin-left: 11.11111111111111%;
  width: 77.777%;
  height: 50%;
  align-self: center;
  flex-direction: column
}
.style60 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  width: 100%
}
.style61,
.style62 {
  margin-top: 12.344444444444445%
}
.style61 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  line-height: 23px;
  width: 100%
}
.style62 {
  display: flex;
  width: 24.642%;
  height: 17.777%
}
.style64 {
  display: flex;
  margin-left: 0;
  width: 23.188%;
  height: 100%
}
.style65 {
  width: 100%;
  height: 100%
}
.style63 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 14.492753623188406%;
  height: 93.75%
}
.style66,
.style67 {
  display: flex;
  height: 100%
}
.style66 {
  margin-left: 3.4482758620689653%;
  width: 31.034%
}
.style67 {
  width: 100%
}
.style68,
.style69 {
  position: relative;
  display: flex;
  width: 100%
}
.style69 {
  background-image: url(https://designresources.assets.yotako.io/e7upykj5i4k8ai7l89.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 51.428%
}
.style68 {
  background-color: #fff;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.desktop1container20column0container21container27container28image10container29column0 {
  display: flex;
  margin-left: 11.11111111111111%;
  width: 77.777%;
  height: 50%;
  align-self: center;
  flex-direction: column
}
.style70 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  width: 100%
}
.style71,
.style72 {
  margin-top: 12.344444444444445%
}
.style71 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  line-height: 23px;
  width: 100%
}
.style72 {
  display: flex;
  width: 23.571%;
  height: 17.777%
}
.style74 {
  display: flex;
  margin-left: 0;
  width: 24.242%;
  height: 100%
}
.style75 {
  width: 100%;
  height: 100%
}
.style73 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 15.151515151515152%;
  height: 93.75%
}
.style76,
.style77 {
  display: flex;
  height: 100%
}
.style76 {
  margin-left: 3.4482758620689653%;
  width: 31.034%
}
.style77 {
  width: 100%
}
.style78,
.style79 {
  position: relative;
  display: flex;
  width: 100%
}
.style79 {
  background-image: url(https://designresources.assets.yotako.io/e7upykj5i4k8ai7meo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 51.428%
}
.style78 {
  background-color: #fff;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.desktop1container20column0container21container32container33image12container34column0 {
  display: flex;
  margin-left: 11.11111111111111%;
  width: 77.777%;
  height: 50%;
  align-self: center;
  flex-direction: column
}
.style80 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  width: 100%
}
.style81,
.style82 {
  margin-top: 12.344444444444445%
}
.style81 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  line-height: 23px;
  width: 100%
}
.style82 {
  display: flex;
  width: 23.571%;
  height: 17.777%
}
.style84 {
  display: flex;
  margin-left: 0;
  width: 24.242%;
  height: 100%
}
.style85 {
  width: 100%;
  height: 100%
}
.style83 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 15.151515151515152%;
  height: 93.75%
}
.desktop1row3 {
  display: flex;
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 95.1vh
}
.style12 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 66.379%
}
.style147 {
  display: flex;
  margin-left: 0;
  margin-top: 5.172413793103448%;
  width: 65.517%;
  height: 94.637%
}
.style148,
.style149 {
  display: flex;
  width: 100%;
  height: 47.777%
}
.style149 {
  background-image: url(https://designresources.assets.yotako.io/e7upykj5i4k8ai7s42.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100%
}
.style150,
.style157 {
  margin-left: 5.2631578947368425%
}
.style157 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 5.2631578947368425%;
  width: 90.789%
}
.style150 {
  display: flex;
  width: 89.473%;
  height: 23.72%;
  align-self: center
}
.desktop1row3container67container68image29container69column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style152 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 0;
  width: 100%
}
.style151,
.style153 {
  margin-top: 9.607843137254903%
}
.style151 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 16px;
  line-height: 26px;
  width: 100%
}
.style153 {
  display: flex;
  width: 9.852%;
  height: 15.686%
}
.style155 {
  display: flex;
  margin-left: 0;
  width: 23.88%;
  height: 100%
}
.style156 {
  width: 100%;
  height: 100%
}
.style154 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 11.940298507462687%;
  height: 93.75%
}
.style158,
.style159 {
  display: flex;
  width: 100%;
  height: 47.777%
}
.style159 {
  background-image: url(https://designresources.assets.yotako.io/e7upykj5i4k8ai7spx.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100%
}
.style160,
.style167 {
  margin-left: 5.2631578947368425%
}
.style167 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 5.2631578947368425%;
  width: 90.789%
}
.style160 {
  display: flex;
  width: 89.473%;
  height: 23.72%;
  align-self: center
}
.desktop1row3container67container72image31container73column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style162 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 0;
  width: 100%
}
.style161,
.style163 {
  margin-top: 9.607843137254903%
}
.style161 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 16px;
  line-height: 26px;
  width: 100%
}
.style163 {
  display: flex;
  width: 9.852%;
  height: 15.686%
}
.style165 {
  display: flex;
  margin-left: 0;
  width: 23.88%;
  height: 100%
}
.style166 {
  width: 100%;
  height: 100%
}
.style164 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 11.940298507462687%;
  height: 93.75%
}
.style119 {
  display: flex;
  margin-left: 3.4482758620689653%;
  margin-top: .43103448275862066%;
  width: 31.034%;
  height: 100%
}
.style120,
.style123 {
  display: flex;
  width: 14.444%;
  height: 1.051%
}
.style123 {
  margin-left: 0;
  width: 11.538%;
  height: 100%
}
.style121,
.style124 {
  width: 100%;
  height: 100%
}
.style121 {
  display: flex;
  margin-left: 76.92307692307692%;
  width: 11.538%
}
.style122,
.style125 {
  width: 100%;
  height: 100%
}
.style125 {
  display: flex;
  height: 94.216%;
  align-self: center
}
.desktop1row3container53container57column0 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style126 {
  display: flex;
  width: 100%;
  height: 30.357%
}
.desktop1row3container53container57column0container58column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style128 {
  margin-top: 0;
  width: 100%;
  height: 77.205%
}
.style127 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 2.702205882352941%;
  width: 100%
}
.style129 {
  display: flex;
  margin-top: 1.349264705882353%;
  width: 41.944%;
  height: 5.882%
}
.style131 {
  display: flex;
  margin-left: 0;
  width: 10.596%;
  height: 100%
}
.style132 {
  width: 100%;
  height: 100%
}
.style130 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 6.622516556291391%;
  height: 93.75%
}
.style133 {
  display: flex;
  width: 100%;
  height: 30.357%
}
.desktop1row3container53container57column0container61column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style135 {
  margin-top: 0;
  width: 100%;
  height: 77.205%
}
.style134 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 2.702205882352941%;
  width: 100%
}
.style136 {
  display: flex;
  margin-top: 1.349264705882353%;
  width: 32.222%;
  height: 5.882%
}
.style138 {
  display: flex;
  margin-left: 0;
  width: 13.793%;
  height: 100%
}
.style139 {
  width: 100%;
  height: 100%
}
.style137 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 8.620689655172415%;
  height: 93.75%
}
.style140 {
  display: flex;
  width: 100%;
  height: 30.357%
}
.desktop1row3container53container57column0container64column0 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style142 {
  margin-top: 0;
  width: 100%;
  height: 77.205%
}
.style141 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 2.702205882352941%;
  width: 100%
}
.style143 {
  display: flex;
  margin-top: 1.349264705882353%;
  width: 35.833%;
  height: 5.882%
}
.style145 {
  display: flex;
  margin-left: 0;
  width: 12.403%;
  height: 100%
}
.style146 {
  width: 100%;
  height: 100%
}
.style144 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 7.751937984496124%;
  height: 93.75%
}
.style13,
.style14 {
  display: flex;
  width: 100%
}
.style13 {
  margin-top: 10.9%;
  height: 20vh
}
.style14 {
  background-color: #a6adb4;
  height: 100%
}
.desktop1container5container6row0 {
  display: flex;
  margin-left: 9.722222222222221%;
  width: 80.555%;
  height: 42%;
  align-self: center
}
.style15 {
  display: flex;
  margin-left: 0;
  width: 32.672%;
  height: 100%
}
.desktop1container5container6row0container7row0 {
  display: flex;
  margin-left: 0;
  width: 100%;
  height: 17.857%;
  align-self: center;
  justify-content: space-between
}
.style16,
.style17,
.style18,
.style28 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  font-weight: 700;
  height: 86.666%
}
.style16,
.style17,
.style18 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  height: 100%
}
.desktop1container5container6row0container7row1 {
  display: flex;
  margin-left: 26.385224274406333%;
  margin-top: 6.068601583113456%;
  width: 68.337%;
  height: 17.857%
}
.style25,
.style26,
.style27 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 0;
  height: 100%
}
.style26,
.style27 {
  margin-left: 14.671814671814673%
}
.style27 {
  margin-left: 27.7992277992278%
}
.desktop1container5container6row0container7row2 {
  display: flex;
  margin-left: 26.385224274406333%;
  margin-top: 12.137203166226913%;
  width: 72.295%;
  height: 17.857%
}
.style19,
.style20,
.style21 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 0;
  height: 100%
}
.style20,
.style21 {
  margin-left: 20.437956204379564%
}
.style21 {
  margin-left: 22.62773722627737%
}
.desktop1container5container6row0container7row3 {
  display: flex;
  margin-left: 26.385224274406333%;
  width: 65.435%;
  height: 17.857%;
  align-self: flex-end
}
.style22,
.style23,
.style24 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 0;
  height: 100%
}
.style23,
.style24 {
  margin-left: 20.967741935483872%
}
.style24 {
  margin-left: 16.532258064516128%
}
.style29 {
  display: flex;
  margin-left: 19.051724137931036%;
  width: 22.413%;
  height: 78.571%
}
.style30 {
  background-color: rgba(255,255,255,.10000000149011612);
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  width: 100%;
  height: 60.606%;
  border-radius: 6px
}
.style33 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: 13px;
  line-height: 20px;
  margin-left: 7.6923076923076925%;
  margin-top: 5.384615384615385%;
  width: 13.461%
}
.style31 {
  display: flex;
  margin-left: 65%;
  margin-top: 4.615384615384615%;
  width: 6.153%;
  height: 40%
}
.style32 {
  width: 100%;
  height: 100%
}
.style34 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 11px;
  line-height: 20px;
  width: 100%
}
.style35 {
  display: flex;
  margin-left: 12.068965517241379%;
  width: 13.793%;
  height: 19.048%
}
.desktop1container5container6row0container11row0 {
  display: flex;
  margin-left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between
}
.style42 {
  display: flex;
  width: 10%;
  height: 99.993%
}
.style43 {
  width: 100%;
  height: 100%
}
.style39,
.style40 {
  display: flex;
  width: 10%;
  height: 99.993%
}
.style40 {
  background-color: #fff;
  width: 100%;
  height: 100%
}
.style41 {
  width: 100%;
  height: 81.109%
}
.style36,
.style37 {
  display: flex;
  width: 10%;
  height: 100%
}
.style37 {
  background-color: #fff;
  width: 100%;
  height: 99.993%
}
.style38 {
  width: 52.222%;
  height: 100%
}
.style44 {
  display: flex;
  width: 10%;
  height: 99.993%
}
.style45 {
  width: 100%;
  height: 100%
}